WebContent/wsdl/ActivacionNodo001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.herme.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.herme.com" xmlns:intf="http://test.herme.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.herme.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="create">
    <complexType>
     <sequence>
      <element name="msisdn" type="xsd:string"/>
      <element name="imsi" type="xsd:string"/>
      <element name="iccid" type="xsd:string"/>
      <element name="profile" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ActivacionNodo001">

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActivacionNodo001SoapBinding" type="impl:ActivacionNodo001">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActivacionNodo001Service">

      <wsdl:port binding="impl:ActivacionNodo001SoapBinding" name="ActivacionNodo001">

         <wsdlsoap:address location="http://localhost:8101/NODO001/services/ActivacionNodo001"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
