WebContent/wsdl/Principal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.herme.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.herme.com" xmlns:intf="http://test.herme.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.herme.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saludar">
    <complexType>
     <sequence>
      <element name="x" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saludarResponse">
    <complexType>
     <sequence>
      <element name="saludarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumar">
    <complexType>
     <sequence>
      <element name="n1" type="xsd:int"/>
      <element name="n2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumarResponse">
    <complexType>
     <sequence>
      <element name="sumarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mensaje">
    <complexType/>
   </element>
   <element name="mensajeResponse">
    <complexType>
     <sequence>
      <element name="mensajeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saludarResponse">

      <wsdl:part element="impl:saludarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarRequest">

      <wsdl:part element="impl:sumar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saludarRequest">

      <wsdl:part element="impl:saludar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarResponse">

      <wsdl:part element="impl:sumarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mensajeRequest">

      <wsdl:part element="impl:mensaje" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mensajeResponse">

      <wsdl:part element="impl:mensajeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Principal">

      <wsdl:operation name="saludar">

         <wsdl:input message="impl:saludarRequest" name="saludarRequest">

       </wsdl:input>

         <wsdl:output message="impl:saludarResponse" name="saludarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdl:input message="impl:sumarRequest" name="sumarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumarResponse" name="sumarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mensaje">

         <wsdl:input message="impl:mensajeRequest" name="mensajeRequest">

       </wsdl:input>

         <wsdl:output message="impl:mensajeResponse" name="mensajeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PrincipalSoapBinding" type="impl:Principal">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saludar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saludarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saludarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mensaje">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mensajeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mensajeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PrincipalService">

      <wsdl:port binding="impl:PrincipalSoapBinding" name="Principal">

         <wsdlsoap:address location="http://localhost:8101/NODO001/services/Principal"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
